* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgb(178, 210, 245) 0%, rgb(70, 118, 190) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgb(178,210,245) 0%, rgb(70,118,190) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgb(178,210,245) 0%, rgb(70,118,190) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgb(178,210,245) 0%, rgb(70,118,190) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgb(178,210,245) 0%, rgb(70,118,190) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

